:root {
    --white: #fff;
}


body {
    

}

nav.navbar a span{
    font-size: 1.3rem;
}

nav.navbar a, article p{
    color: var(--white);
    font-size: 1rem;
}

.navbar-toggler{
    filter: invert(1);    
}



section h4{
    color: var(--white);
    
}

.custom-tooltip {
    --bs-tooltip-bg: rgb(17, 95, 126);   
  }

hr{
    width: 95%;
}

.card{
    max-width:17rem;
    
}

.card img{
    max-height: 150px;
}


h5{
    font-size: 1.2rem;
    
}


.cabin-light {
    font-family: "Cabin", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cabin-medium {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#carouselImg img{
    max-height: 850px;
    
}

@media (min-width: 1280px) {
    .row#cardContainer{
        display: flex;
        justify-content: space-between;
    }    
}