:root {
    --white: #fff;
}


body {
    

}

nav.navbar a span{
    font-size: 1.3rem;
}

nav.navbar a, article p{
    color: var(--white);
    font-size: 1rem;
}

section h4{
    color: var(--white);
    
}

hr{
    width: 90%;
}


.cabin-light {
    font-family: "Cabin", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.cabin-regular {
    font-family: "Cabin", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.cabin-medium {
    font-family: "Cabin", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

#carouselImg img{
    max-height: 920px;
    
}